:host {
  width: 100%;
  display: block;
}

.img-wrapper {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  img {
    width: 100%;
  }
}

.row {
  .row {
    padding-top: 5px;
    padding-bottom: 5px;
    label {
      font-weight: 700;
    }
  }
}

.buttons {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin: 10px 0 0 0;
  text-align: center;
  a {
    margin: 5px;
  }
}
