<div class="gitber container" id="tagHeading" style="position:fixed; text-align:center;" data-0="margin-top:-50px;" data-anchor-target="#fitHeader" data-50-top-bottom="margin-top:-50px;" data--250-top-bottom="margin-top:0px;">
  <p>GitBer!</p>
</div>

<div class="container">
  <div class="row-fluid" style="text-align:center;font-size: 134.286px;">
    <p class="gitber" id="fitHeader"><span id="gitber1">G</span><span id="gitber2">i</span><span id="gitber3">t</span><span id="gitber4">B</span><span id="gitber5">e</span><span id="gitber6">r</span><span id="gitber7">!</span><span id="gitber8"><i class="icon-github"></i></span></p>
  </div>  
  <div class="row-fluid">
    <div class="span4">
    <div>
        <div class="row-fluid" >
            <div class="searched white">
                <form role="form" [formGroup]="searchUserForm" (ngSubmit)="searchUserData()">
                    <div class="input-append" style="margin-top:15px; padding-left:10px;">                    
                    <input type="text" class="span8" placeholder="Github username" formControlName="username">
                    <button class="btn btn-info" >Go!</button>                    
                    </div>
                </form>
                <p style="padding:5px 10px; border-bottom:1px solid #ccc;" class="lead blue">Recent Searches</p>
                <ul class="unstyled recentSearches table-striped">                      
                    <li *ngFor="let recentSearch of recentSearches.reverse()"> 
                        <a href="#" title="view again" (click)="searchAgain(recentSearch)">{{recentSearch}}</a>
                        <a class="btn btn-info btn-mini pull-right" href="#" title="remove" (click)="removeRecent(recentSearch)">X</a> 
                    </li> 
                </ul>
            </div>  
        </div>
        <div class="row-fluid" >
            <div class="searched white">
                <form role="form" [formGroup]="searchOrganizationForm" (ngSubmit)="searchOrganization()">
                    <div class="input-append" style="margin-top:15px; padding-left:10px;">                    
                        <input type="text" class="span8" placeholder="Organisation Name" formControlName="orgname">
                        <button class="btn btn-info" >Go!</button>
                    </div>
                </form>                
                <p style="padding:5px 10px; border-bottom:1px solid #ccc;" class="lead blue">Organisation Members</p>
                <ul class="unstyled recentSearches table-striped" style="max-height:171px; overflow:auto;">                            
                    <li *ngFor="let member of organization"> 
                        <a href="#" title="view repos" (click)="searchAgain(member.login)">{{member.login}}</a>
                    </li>                                         
                </ul>
            </div>  
        </div>
        <div class="row-fluid" style="position:relative;">
            <div id="userData" class="searched white">
                <p style="padding:5px 10px; border-bottom:1px solid #ccc;" class="lead blue">User Bio</p>
                    <div class="row-fluid" *ngIf="user.length != 0">
                        <div class="span12" style="padding-left:10px;padding-right:100px;">
                        <p *ngIf="user.name != null && user.name != ''"><strong>Name: </strong>{{user.name}}</p>
                            <p><strong>Username: </strong>{{user.login}}</p>
                            <p *ngIf="user.company != null && user.company != ''"><strong>Company:</strong>{{user.comany}}</p>
                            <p><strong>Repos: </strong>{{user.public_repos}}</p>
                            <p><strong>Followers: </strong>{{user.followers}}</p>
                            <p><strong>Joined on: </strong>{{user.created_at}}</p>
                        </div>
                        
                            <img class="avatar img-polaroid" src="{{user.avatar_url}}"/>
                        
                    </div>
                    <div class="row-fluid visible-phone phoneButtons">
                        <div class="phone-button">
          <a class="btn btn-primary btn-large" href="mailto:{{user.email}}" *ngIf="user.email != null && user.email != ''"><i class="icon-envelope-alt icon-4x"></i></a>  
                        </div>
                        <div class="phone-button">
          <a class="btn btn-warning btn-large" href="{{user.blog}}" target="_blank" *ngIf="user.blog != null && user.blog != ''"><i class="icon-comments icon-4x"></i></a>  
                        </div>
                        <div class="phone-button">
          <a class="btn btn-danger btn-large" href="{{user.location}}" target="_blank" *ngIf="user.location != null && user.location != ''"><i class="icon-map-marker icon-4x"></i></a>
                        </div>
                        <div class="phone-button">
            <a class="btn btn-inverse btn-large" href="{{user.blog}}" target="_blank" *ngIf="user.hireable != null && user.blog != ''"><i class="icon-suitcase icon-4x"></i></a>
                        </div>
                    </div>
    <div class="row-fluid hidden-phone" style="position:absolute; margin-top:10px;overflow:hidden;">
        <div class="span3" *ngIf="user.email != null && user.email != ''">
          <div class="ribbon emailTag" style="position:relative;">
            <a href="mailto:{{user.email}}"><img src="assets/images/small-fork.png"><span class="bioDropdown"><p class="lead" style="color:#fff;">Email</p><i class="icon-envelope-alt icon-2x"></i></span></a>
          </div>
        </div>
        <div class="span3" *ngIf="user.blog != null && user.blog != ''">
          <div class="ribbon blogtag" style="position:relative;">
            <a href="{{user.blog}}" target="_blank"><img src="assets/images/small-fork.png"><span class="bioDropdown"><p class="lead" style="color:#fff;">Blog</p><i class="icon-comments icon-2x"></i></span></a>
          </div>
        </div>      
        <div class="span3" *ngIf="user.location != null && user.location != ''">
          <div class="ribbon localeTag" style="position:relative;">
            <a href="{{user.location}}" target="_blank"><img src="assets/images/small-fork.png"><span class="bioDropdown"><p class="lead" style="color:#fff;">Locale</p><i class="icon-map-marker icon-2x"></i></span></a>
          </div>
        </div>
        <div class="span3" *ngIf="user.hireable != null && user.blog != ''">
          <div class="ribbon hireTag" style="position:relative;">
            <a href="{{user.blog}}" target="_blank"><img src="assets/images/small-fork.png"><span class="bioDropdown"><p class="lead"  style="color:#fff;">Hire</p><i class="icon-suitcase icon-2x"></i></span></a>
          </div>
        </div>
    </div>	
            </div>
        </div>
    </div>
    </div>    
    <div class="span8">
        <div class="row-fluid">

            <div id="results" class="white">
                <p style="padding:5px 10px; border-bottom:1px solid #ccc;  margin-bottom:-1px;" class="lead blue">User Repositories</p>                           
                <div class="row-fluid" *ngFor="let repo of repositories">
                    <div class="repo"> 
                        <div class="span12 repoDetails">
                            <blockquote>
                                <h3 class="blue" style="margin-bottom:0px;"><a target="_blank" href="{{repo.html_url}}">{{repo.name}}</a></h3>
                                <p><strong>Language:</strong> {{repo.language}}</p>
                                <p><strong>File Size:</strong> {{repo.size}}kb</p>
                                <p><strong>Description:</strong></p> 
          <div class="row-fluid">
            <div class="span10">
              <pre>{{repo.readme}}</pre>
            </div>
          </div>	
                                
                                <small>Created on {{repo.created_at}}</small>
                            <div class="ribbonWrapper" style="overflow:hidden;">
                             <a target="_blank" href="{{repo.html_url}}"><img class="ribbon" src="assets/images/fork.png" alt="Fork me on GitHub"></a>
                            </div>
                            </blockquote>
                        </div>
                    </div>
                </div>                                   
            </div>
        </div>     
    </div> 
</div>