<div id="userData" class="searched white">
    <p style="padding:5px 10px; border-bottom:1px solid #ccc;" class="lead blue">User Bio</p>
    <div class="row-fluid" ng-if="$ctrl.user">
            <div class="span12" style="padding-left:10px;padding-right:100px;">
                <p ng-if="$ctrl.user.name"><strong>Name:</strong> {{user.name}}</p>
                <p ng-if="$ctrl.user.username"><strong>Username:</strong> {{$ctrl.user.username}}</p>
                <p ng-if="$ctrl.user.company"><strong>Company:</strong> {{$ctrl.user.company}}</p>
                <p ng-if="$ctrl.user.repos"><strong>Repos:</strong> {{$ctrl.user.repos}}</p>
                <p ng-if="$ctrl.user.followers"><strong>Followers:</strong> {{$ctrl.user.followers}}</p>
                <p ng-if="$ctrl.user.joined"><strong>Joined on:</strong> {{$ctrl.user.joined}}</p>
            </div>
           <img ng-if="$ctrl.user.avatar" class="avatar img-polaroid" src="{{$ctrl.user.avatar}}" />
    </div>
    <div class="row-fluid visible-phone phoneButtons" ng-if="$ctrl.user">
            <div class="phone-button">
              <a ng-if="$ctrl.user.email"
                class="btn btn-primary btn-large"
                href="mailto:{{$ctrl.user.email}}">
                <i class="icon-envelope-alt icon-4x"></i>
              </a>
            </div>
            <div class="phone-button">
              <a  ng-if="$ctrl.user.blog" class="btn btn-warning btn-large" href="{{$ctrl.user.blog}}" target="_blank"><i class="icon-comments icon-4x"></i></a>
            </div>
            <div class="phone-button">
              <a ng-if="$ctrl.user.location" class="btn btn-danger btn-large" href="{{$ctrl.user.location}}" target="_blank"><i class="icon-map-marker icon-4x"></i></a>
            </div>
            <div class="phone-button">
              <a  ng-if="$ctrl.user.hireable" class="btn btn-inverse btn-large" href="{{$ctrl.user.hireable}}" target="_blank"><i class="icon-suitcase icon-4x"></i></a>
            </div>
        </div>
    <div ng-if="$ctrl.user" class="row-fluid hidden-phone" style="position:absolute; margin-top:10px;overflow:hidden;">
      <div class="span3" ng-if="$ctrl.user.email">
        <div class="ribbon emailTag" style="position:relative;">
        <a href="mailto:{{$ctrl.user.email}}"><img src="images/small-fork.png"><span class="bioDropdown"><p class="lead" style="color:#fff;">Email</p><i class="icon-envelope-alt icon-2x"></i></span></a>
        </div>
      </div>
      <div class="span3" ng-if="$ctrl.user.blog">
          <div class="ribbon blogtag" style="position:relative;">
          <a href="{{$ctrl.user.blog}}" target="_blank"><img src="images/small-fork.png"><span class="bioDropdown"><p class="lead" style="color:#fff;">Blog</p><i class="icon-comments icon-2x"></i></span></a>
          </div>
      </div>

      <div class="span3" ng-if="$ctrl.user.location">
        <div class="ribbon localeTag" style="position:relative;">
        <a href="{{$ctrl.user.location}}" target="_blank"><img src="images/small-fork.png"><span class="bioDropdown"><p class="lead" style="color:#fff;">Locale</p><i class="icon-map-marker icon-2x"></i></span></a>
        </div>
      </div>
      <div class="span3" ng-if="$ctrl.user.hireable">
        <div class="ribbon hireTag" style="position:relative;">
        <a href="{{$ctrl.user.hireable}}" target="_blank"><img src="images/small-fork.png"><span class="bioDropdown"><p class="lead"  style="color:#fff;">Hire</p><i class="icon-suitcase icon-2x"></i></span></a>
        </div>
      </div>
   </div>
</div>
